body {
    overflow-x: hidden;
}


.tool {
    transition: all 0.3s;
    outline: none;
    border: 2px solid seagreen;
    border-radius: 0.5rem;

}

.tool img {
    border-radius: 0.5rem;
}

.tool:hover {
    transform: scale(1.03);

}


.intro {
    background-image: url("../images/intro.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.home-cards {
    transition: all 0.3s;
}

.home-cards:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 50px 10px rgba(232, 232, 232, 0.355);
}
